<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <script src="https://lib.baomitu.com/vue/2.6.12/vue.min.js"></script>
    <!-- <script src="../dist/vue.js"></script> -->
    <style>
        .wrap {
          width: 100px;
          height: 100px;
          background-size: 100% 100%;
        }
    </style>
  </head>
  <body>
    <div id="app" @click="show">
      <div v-for="item in list">
        name: {{ item.name }}
        <input v-for="info in item.pList" v-model="info.price" @input="showInput(info)" />
      </div>
    </div>

    <script>
      let vm = new Vue({
        el: "#app",
        data: {
          list: [
            {
              name: 'w',
              pList: [{ price: ''},{ price: ''}],

            },
            {
              name: 't',
              pList: [{ price: ''},{ price: ''}],

            }
          ]
        },

        mounted() {
        },
        methods: {
          show() {
            console.log(this.list)
          },
          showInput(info) {
            console.log(info)
          }
        },
      });

      console.log(vm);
    </script>
  </body>
</html>
